@charset "utf-8";
/* CSS Document */


/*Desktop Modes*/
@media (min-width: 768px) and (max-width: 959px){
	
	.pagination{position:absolute;z-index:20;left:30% !important;bottom:18px !important;}
	
	/*HEADER
	********************************************/	
	
	/*Top*/
	#header, #header-inn, #sub-hamlet #header, #sub-hamlet #header-inn{overflow:visible;}
	#header .top .logo, #header .top .text-right, #header-inn .top .logo, #header-inn .top .text-right{text-align:center; margin-bottom:10px;}	
	
	/*Navigation*/
    #nav{position: relative; top: auto; left: auto; background:#850b17; z-index:1000;}
	#nav > a{width: 3.125em; height: 3.125em; text-align: left; text-indent: -9999px; background-color: #e15a1f; position: relative; }
	#nav > a:before, #nav > a:after { position: absolute; border: 2px solid #fff; top: 35%; left: 25%; right: 25%; content: '';}
	#nav > a:after{top: 60%;}
	#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type{display: block;}
	#nav li{border-left:none; background:#e6c99d; text-align:left;}
	#nav li a{color:#850b17;}
	
	#nav > ul{height: auto; display: none; position: absolute; left: 0; right: 0; box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -o-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); border-top:1px solid #ae1b22; border-bottom:1px solid #ae1b22; }
	#nav:target > ul{display: block;}
	#nav > ul > li{width: 100%; float: none;}
	#nav > ul > li > a{height: auto; text-align: left; padding: 10px; width:100%;}
	#nav > ul > li:not( :last-child ) > a{border-right: none; border-bottom: 1px solid #ae1b22;}
	#nav > ul:not( :hover ) > li.active > a{background-color: #e15a1f; color:#e6c99d;}
	#nav > ul > li:hover > a{background-color: #e15a1f; color:#FFF;}
	#nav ul li ul li{background:#FFF; width:100%;}
	#nav ul li ul li a:hover{background-color: #F8F8F8 !important; color:#850b17 !important;}
    #nav li ul{position: static; padding-top: 0; border:none; width:100%;}	
	#nav li ul a{ }
	#nav li ul a:hover{color:#FFF;}
	
    /*FEATURE START
    ******************************************/
	#feature .film, #feature .music, #feature .digital-textbooks{min-height:480px;}
	
	/*SHOWCASE START
    ******************************************/
	.slide p {color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); font-size: 60px !important; line-height:60px !important; font-weight: normal; position: relative; margin: 10px 0 0 0;}
	.slide .learn-more {font-size:30px !important; margin:20px 0 0 0 !important; display:inline-block; padding:0px 10px 0px 10px !important;}
	.showcase-inn h1{color:#FFF; text-align:center; font-size:60px !important; font-family:'proxima_novasemibold'; margin:80px 0 0 0;}
	
	/*Available
	********************************************/
	#available h3{font-size:30px;}
	
	/*Background Image*/
	.swiper-container, .swiper-slide {width: 100%; height: 310px !important; overflow:visible;}
	
	
}

/*Mobile Modes*/
@media only screen and (max-width: 768px){
	
	/*COMMON STYLE
	********************************************/	

	/*Grid System*/
	.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
    .row .row .column, .row .row .columns { padding: 0; }
    .row .centered { margin-left: 0 !important; }
    .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
    .column:last-child, .columns:last-child { margin-right: 0; float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
    [class*="column"]:before { display: table; }
    [class*="column"]:after { display: table; clear: both; }
    [class^="push_"], [class*="push_"], [class^="pull_"], [class*="pull_"] { margin-left: 0 !important; }
	
	/*HEADER
	********************************************/	
	
	/*Top*/
	#header, #header-inn, #sub-hamlet #header, #sub-hamlet #header-inn{overflow:visible;}
	#header .top .logo, #header .top .text-right, #header-inn .top .logo, #header-inn .top .text-right{text-align:center; margin-bottom:10px;}	
	
	#header{max-height:500px; overflow:hidden;}
	#header-inn{max-height:400px; overflow:visible;}
	
	#sub-othello #header-inn h1, #sub-romeo-and-juliet #header-inn h1 {font-size:50px; line-height:55px; margin:50px 0 0 0;}
	#sub-othello #header-inn h2, #sub-romeo-and-juliet #header-inn h2 {font-size:30px; line-height:30px; margin:10px 0 0 0;}
	
	
	/*Navigation*/
    #nav{position: relative; top: auto; left: auto; background:#850b17;}
	#nav > a{width: 3.125em; height: 3.125em; text-align: left; text-indent: -9999px; background-color: #e15a1f; position: relative; }
	#nav > a:before, #nav > a:after { position: absolute; border: 2px solid #fff; top: 35%; left: 25%; right: 25%; content: '';}
	#nav > a:after{top: 60%;}
	#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type{display: block;}
	#nav li{border-left:none; background:#e6c99d; text-align:left;}
	#nav li a{color:#850b17;}
	
	#nav > ul{height: auto; display: none; position: absolute; left: 0; right: 0; box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -o-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); border-top:1px solid #ae1b22; border-bottom:1px solid #ae1b22; }
	#nav:target > ul{display: block;}
	#nav > ul > li{width: 100%; float: none;}
	#nav > ul > li > a{height: auto; text-align: left; padding: 10px; width:100%;}
	#nav > ul > li:not( :last-child ) > a{border-right: none; border-bottom: 1px solid #ae1b22;}
	#nav > ul:not( :hover ) > li.active > a{background-color: #e15a1f; color:#e6c99d;}
	#nav > ul > li:hover > a{background-color: #e15a1f; color:#FFF;}
	#nav ul li ul li{background:#FFF; width:100%;}
	#nav ul li ul li a:hover{background-color: #F8F8F8 !important; color:#850b17 !important;}
    #nav li ul{position: static; padding-top: 0; border:none; width:100%;}	
	#nav li ul a{ }
	#nav li ul a:hover{color:#FFF;}
	
	/*PLAYS
	********************************************/
	
	/*Hamlet*/
	#sub-hamlet #nav{background:#e6c99d;}
	
	/*Navigation*/
    #sub-hamlet #nav{background:#002251;}
	
	/*Navigation*/
    #sub-hamlet #nav{position: relative; top: auto; left: auto; background:#02347a;}
	#sub-hamlet #nav > a{width: 3.125em; height: 3.125em; text-align: left; text-indent: -9999px; background-color: #ff7e00; position: relative; }
	#sub-hamlet #nav > a:before, #sub-hamlet #nav > a:after { position: absolute; border: 2px solid #fff; top: 35%; left: 25%; right: 25%; content: '';}
	#sub-hamlet #nav > a:after{top: 60%;}
	#sub-hamlet #nav:not( :target ) > a:first-of-type, #sub-hamlet #nav:target > a:last-of-type{display: block;}
	#sub-hamlet #nav li{border-left:none; background:#e6c99d; text-align:left;}
	#sub-hamlet #nav li a{color:#850b17;}
	#sub-hamlet #nav span:after {border-top-color: #fbae15;}
	
	#sub-hamlet #nav > ul{height: auto; display: none; position: absolute; left: 0; right: 0; box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); -o-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.2); border-top:1px solid #ae1b22; border-bottom:1px solid #ae1b22; }
	#sub-hamlet #nav:target > ul{display: block;}
	#sub-hamlet #nav > ul > li{width: 100%; float: none;}
	#sub-hamlet #nav > ul > li > a{height: auto; text-align: left; padding: 10px; width:100%;}
	#sub-hamlet #nav > ul > li:not( :last-child ) > a{border-right: none; border-bottom: 1px solid #ae1b22;}
	#sub-hamlet #nav > ul:not( :hover ) > li.active > a{background-color: #e15a1f; color:#e6c99d;}
	#sub-hamlet #nav > ul > li:hover > a{background-color: #e15a1f; color:#FFF;}
	#sub-hamlet #nav ul li ul li{background:#FFF; width:100%; border-top:1xp solid #CCC !important;}
	#sub-hamlet #nav ul li ul li a:hover{background-color: #F8F8F8 !important; color:#850b17 !important;}
    #sub-hamlet #nav li ul{position: static; padding-top: 0; border:none; width:100%;}	
	#sub-hamlet #nav li ul a:hover{color:#FFF;}
	#sub-hamlet #nav .active{background: none; color: #ae1b22;}
	
	/*Feature*/
	#sub-hamlet #feature{background:#FFF;}
	#sub-hamlet #feature .film h2, #sub-hamlet #feature .music h2, #sub-hamlet #feature .digital-textbooks h2{border-bottom:1px solid #c2c2c3; height:auto; margin:0px; padding:15px 0;}
	#sub-hamlet #feature .film{min-height: 270px;}		
	#sub-hamlet #feature .music{min-height: 150px;}
	#sub-hamlet #feature .music .padding20{padding:20px 0 0 0;}
	#sub-hamlet #feature .music h2{}
	#sub-hamlet #feature .digital-textbooks{min-height: 410px;}		
	
	/*Showcase*/
	.step {height: 300px;}
	.step img{left:50%; top:-50px;}
	.jms-content { position: relative; clear: both; z-index:50; width:50%; margin:30px auto 0 auto; text-align:center;}
    .step h3 {color: #fff; font-size: 30px; margin: 0; padding: 60px 0 10px 0;}
    .step p {color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); font-size: 24px; line-height:36px; font-weight: normal; position: relative; margin: 0;}
	.jms-content .learn-more{font-size:20px; margin:20px 0 0 0; display:inline-block;}
	.slide .learn-more {font-size:15px; margin:5px 0 0 0; display:inline-block; padding:5px 15px 5px 15px}
	.slide p {color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); font-size: 24px; line-height:24px; font-weight: normal; position: relative; margin: 8px 0 0 0;}

	/* showcase-inner*/
	
	
	/* showcase-inner*/
	.showcase-inn{min-height:100%;}
	.showcase-inn h1{color:#FFF;text-align:center;font-size:30px;font-family:'proxima_novasemibold'; margin:60px 0 0 0;}
			
	/*FEATURE START
    ******************************************/
	#feature{background:#850b17;}
	#feature .film, #feature .music, #feature .digital-textbooks{min-height:370px;}
	#feature .film h2, #feature .music h2, #feature .digital-textbooks h2{border-bottom:1px solid #ff162e; font-size:40px; line-height:100px; height:100px;} 
	
	
	/*Film*/	
	
	/*Music*/
	#feature .music{background-position:left 100px;}
	
	/*Digital Textbooks*/
	#feature .digital-textbooks h2{padding:0px;}	
	
	/*Why First Folio
	********************************************/
	#why-firstfolio .white, #why-firstfolio .grey{padding:10px;}
	#why-firstfolio .white-inn{border:1px solid #c2c2c3; min-height:180px;}
	#why-firstfolio .grey{margin:0px;}
	#why-firstfolio .grey-inn{border:1px solid #c2c2c3;  min-height:180px;}
	
	/*Content Bottom
	********************************************/
	#content-bottom .film, #content-bottom .music, #content-bottom .digi, #sub-hamlet #content-bottom .film, #sub-hamlet #content-bottom .music, #sub-hamlet #content-bottom .digi{padding:40px 0; font-size:45px;}
	#content-bottom .film a, #content-bottom .music a, #content-bottom .digi a, #sub-hamlet #content-bottom .film a, #sub-hamlet #content-bottom .music a, #sub-hamlet #content-bottom .digi a{padding:0px 40px; background-size:10%;}
	#content-bottom .digi a, #sub-hamlet #content-bottom .digi a{background-size:5%;}
	
	/*Available
	********************************************/
	#available h3{font-size:30px;}
	
	/*Footer
	********************************************/
	#footer{text-align:center; padding:10px 0;}
	#footer .text-right{text-align:center; margin:10px 0 0 0;}
	#footer .text-right img{width:40px; height:40px;}
	
	/*Copyright
	********************************************/
	#copyright{text-align:center; padding:10px 0;}
	#copyright .text-right{text-align:center; margin:10px 0 0 0;}
	
	
	/* AdSense Homepage*/
	 .homepage-responsive { width:280px; height:90px; } 
	
}

@media only screen and (max-width: 720px){.swiper-container, .swiper-slide {width: 100%; height: 150px !important;}}
@media only screen and (max-width: 720px){}


/*Promo Showcase*/
@media only screen and (min-width: 481px) and (max-width: 767px){
	/* showcase-inner*/
	.showcase-inn h1{color:#FFF;text-align:center;font-size:24px;font-family:'proxima_novasemibold'; margin:50px 0 0 0;}
	#sub-othello .showcase-inn h1{color:#FFF;text-align:center;font-size:24px;font-family:'proxima_novasemibold'; margin:50px 0 0 0;}
	
	
	/*Available
	********************************************/
	#available h3{font-size:24px;}
	#sub-hamlet .clickhere{width:100%;}
	
	.background-img{min-height:350px;}
	.popup-ans{width:300px; height:75px; overflow:auto; font-size:30px; text-align:center;}

	}

@media only screen and (max-width: 480px){
	
	#sub-othello #header-inn h1, #sub-romeo-and-juliet #header-inn h1{font-size:30px; line-height:36px; margin:30px 0 0 0;}
	#sub-othello #header-inn h2, #sub-romeo-and-juliet #header-inn h2{font-size:20px; line-height:20px; margin:10px 0 0 0;}
	
	/* showcase-inner*/
	.showcase-inn h1{color:#FFF;text-align:center;font-size:24px;font-family:'proxima_novasemibold'; margin:30px 0 0 0;}
	
	/*Available
	********************************************/
	#available h3{font-size:24px;}
	#sub-hamlet .clickhere{width:100%;}
		
	/*Background*/
	.background-img{min-height:350px;}
	
	/* Answer Popup */
	.popup-ans{width:300px; height:75px; overflow:auto; font-size:20px; text-align:center;}
	
	/*#sub-othello #header-inn{min-height:350px; background:url(../othello/images/main1.jpg) bottom center no-repeat;}*/
	
	.pagination{position:absolute;z-index:20;left:20px !important;bottom:10px;}
}

