@charset "utf-8";
/* CSS Document */

/*COMMON FONT STYLE
******************************************/

/*Fonts*/
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-bold-webfont.woff') format('woff'),  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),  url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novalight';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-light-webfont.woff') format('woff'),  url('../fonts/proximanova-light-webfont.ttf') format('truetype'),  url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-regular-webfont.woff') format('woff'),  url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),  url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novaregular_italic';
	src: url('../fonts/proximanova-regularit-webfont.eot');
	src: url('../fonts/proximanova-regularit-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-regularit-webfont.woff') format('woff'),  url('../fonts/proximanova-regularit-webfont.ttf') format('truetype'),  url('../fonts/proximanova-regularit-webfont.svg#proxima_novaregular_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novasemibold';
	src: url('../fonts/proximanova-semibold-webfont.eot');
	src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/proximanova-semibold-webfont.woff') format('woff'),  url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),  url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*Clear All*/
.container:before, .container:after {
	display: table;
	content: "";
}
.container:after {
	clear: both;
}
.container:before, .container:after {
	display: table;
	content: "";
}
/*Grid System*/
.row {
	width: 100%;
	max-width: 980px;
	min-width: 320px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.row .row {
	min-width: 0;
	padding-left: 0;
	padding-right: 0;
}
/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns {
	margin-left: 2.12766%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.column:first-child, .columns:first-child, .alpha {
	margin-left: 0;
}
.column.omega, .columns.omega {
	float: right;
}
/* Column Classes */
.row .one.column {
	width: 6.38298%;
}
.row .one.columns {
	width: 6.38298%;
}
.row .two.columns {
	width: 14.89362%;
}
.row .three.columns {
	width: 23.40426%;
}
.row .four.columns {
	width: 31.91489%;
}
.row .five.columns {
	width: 40.42553%;
}
.row .six.columns {
	width: 48.93617%;
}
.row .seven.columns {
	width: 57.44681%;
}
.row .eight.columns {
	width: 65.95745%;
}
.row .nine.columns {
	width: 74.46809%;
}
.row .ten.columns {
	width: 82.97872%;
}
.row .eleven.columns {
	width: 91.48936%;
}
.row .twelve.columns {
	width: 100%;
}
.row {
*zoom: 1;
}
.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}
/*INLINE HELPER
******************************************/

/*Heading*/
h1, h2, h3, h4, h5, h6 {
	color: #9f1b20;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
h1 {
}
h2 {
	font-size: 45px;
	line-height: 68px;
}
h3 {
	font-size: 30px;
	line-height: 38px;
	font-family: proxima_nova_rgbold, Arial, Helvetica, sans-serif;
}
h4 {
	font-size: 22px;
	line-height: 40px;
	font-weight: bold;
}
h5 {
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
}
h6 {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
}

/*Button*/
a.learn-more {
	color: #FFF;
	border: 1px solid #FFF;
	text-decoration: none;
	padding: 7px 25px;
}
a.learn-more:hover {
	color: #e6c99d;
	border: 1px solid #e6c99d;
}
a.button-red {
	color: #e6c99d;
	padding: 7px 25px;
	background:#850b17;
	display:block;
	text-decoration:none;
}
a.button-red:hover {
	color: #850b17;
	background:#e6c99d;
}
a.button-blue {
	color: #FFF;
	padding: 7px 25px;
	background:#02347a;
	display:block;
	text-decoration:none;
}
a.button-blue:hover {
	color: #fbae15 ;
}
a.credit {
	color: #ffffff ;
}
/*Text Color*/
.black-text, .black-text a, a.black-text {
	color: #000;
}
.black-text a:hover {
	color: #850b17;
}
.red-text, .red-text a, a.red-text {
	color: #850b17;
}
.red-text a:hover {
	color: #e6c99d;
}
.grey-text, .grey-text a, a.grey-text {
	color: #808080;
}
.grey-text a:hover {
	color: #850b17;
}
.white-text, .white-text a, a.white-text{color:#FFF;}


/*Font Size*/
.font11 {
	font-size: 11px;
	line-height: 15px;
}
.font12 {
	font-size: 12px;
	line-height: 18px;
}
.font13 {
	font-size: 13px;
	line-height: 18px;
}
.font14 {
	font-size: 14px;
	line-height: 22px;
}
.font15 {
	font-size: 15px;
	line-height: 22px;
}
.font16 {
	font-size: 16px;
	line-height: 24px;
}
.font18 {
	font-size: 18px;
	line-height: 26px;
}
.font20 {
	font-size: 20px;
	line-height: 28px;
}
.font24 {
	font-size: 24px;
	line-height: 32px;
}
.font26 {
	font-size: 26px;
	line-height: 34px;
}
.font28 {
	font-size: 28px;
	line-height: 36px;
}
.font30 {
	font-size: 30px;
	line-height: 38px;
}
/*Text Align*/
.text-left {
	text-align: left;
	margin: 0 15px 0 0;
}
.text-center {
	text-align: center;
	margin: 0 15px;
}
.text-right {
	text-align: right;
	margin: 0 0 0 15px;
}
/*Margin Helpar*/
.margin {
	margin: 15px;
}
.margin-left {
	margin: 0 0 0 15px;
}
.margin-top {
	margin: 15px 0 0 0;
}
.margin-right {
	margin: 0 15px 0 0;
}
.margin-bottom {
	margin: 0 0 15px 0;
}
.margin-left-top {
	margin: 15px 0 0 15px;
}
.margin-left-right {
	margin: 0 15px;
}
.margin-left-bottom {
	margin: 0 0 15px 15px;
}
.margin-top-right {
	margin: 15px 15px 0 0;
}
.margin-top-bottom {
	margin: 15px 0;
}
.margin-right-bottom {
	margin: 0 15px 15px 0;
}
/*Padding Helpar*/
.padding {
	margin: 15px;
}
.padding-left {
	margin: 0 0 0 15px;
}
.padding-top {
	margin: 15px 0 0 0;
}
.padding-right {
	margin: 0 15px 0 0;
}
.padding-bottom {
	margin: 0 0 15px 0;
}
.padding-left-top {
	margin: 15px 0 0 15px;
}
.padding-left-right {
	margin: 0 15px;
}
.padding-left-bottom {
	margin: 0 0 15px 15px;
}
.padding-top-right {
	margin: 15px 15px 0 0;
}
.padding-top-bottom {
	margin: 15px 0;
}
.padding-right-bottom {
	margin: 0 15px 15px 0;
}
.padding10 {
	padding: 10px;
}
.padding20 {
	padding: 20px;
}
.padding30 {
	padding: 30px;
}
.padding40 {
	padding: 40px;
}
.padding50 {
	padding: 50px;
}
/*Spacing Helper*/
.space5 {
	height: 5px;
}
.space10 {
	height: 10px;
}
.space15 {
	height: 15px;
}
.space20 {
	height: 20px;
}
.space25 {
	height: 25px;
}
.space30 {
	height: 30px;
}
.space35 {
	height: 35px;
}
.space40 {
	height: 40px;
}
.space45 {
	height: 45px;
}
.space50 {
	height: 50px;
}
/*Image*/
.image-left {
	float: left;
	margin: 7px 15px 7px 0;
}
.image-right {
	float: right;
	margin: 7px 0 7px 15px;
}
/*Float*/
.float-right {
	float: right;
	margin: 0 0 0 15px;
}
.float-left {
	float: left;
	margin: 0 15 0 0;
}
/*Border Radius*/
.border-radius {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
}
.border-radius1 {
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px;
}
.border-radius2 {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}
.border-radius3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}
.border-radius4 {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
}
.border-radius5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.border-radius6 {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
}
.border-radius7 {
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
}
.border-radius8 {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
}
.border-radius9 {
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-o-border-radius: 9px;
}
.border-radius10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}
/*Shadow*/
.shadow1 {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.shadow2 {
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.shadow3 {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.shadow4 {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.shadow5 {
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}
.shadow6 {
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.shadow7 {
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 3px 3px 3px rgba(0, 0, 0, 0.2);
}
/* Divider */
.divider {
	background: #ebeced;
	height: 1px;
}
/*HEADER START
******************************************/
#header {
	background: #b55116;
	background-size: 100%;
	position:relative;
	max-height:500px;
	overflow:hidden;
}
#header-inn {
	background: #b55116;
	background-size: 100%;
	position:relative;
	max-height:370px;
	overflow:hidden;
}
#header .banner, #header-inn .banner{position:absolute; top:0px; width:100%;}
#header-inn .background-img{text-align:center;}
/*Top*/
#header .top {
	background: rgba(113, 11, 23, 0.9);
	font-size: 16px;
	line-height: none;
	color: #FFF;
}
#header .top .logo {
	margin: 15px 0 15px 30px;
}
#header .top .text-right {
	margin: 0 30px 0 0;
}
#header .top .text-right .links {
	display: inline-block;
}
#header .top .text-right .my-cart a {
	background: #e6c99d;
	display: inline-block;
	padding: 5px 20px;
	margin: 0 0 0 10px;
	color: #850b17;
}
#header .top .text-right .my-cart a:hover {
	background: #850b17;
	color: #e6c99d;
}
#header .top .text-right a {
	color: #FFF;
	text-decoration: none;
}
#header .top .text-right a:hover {
	color: #FFF;
	text-decoration: underline;
}
/* header inner top*/
/*Top*/
#header-inn .top {
	background: rgba(113, 11, 23, 0.9);
	font-size: 16px;
	line-height: none;
	color: #FFF;
}
#header-inn .top .logo {
	margin: 15px 0 15px 30px;
}
#header-inn .top .text-right {
	margin: 0 30px 0 0;
}
#header-inn .top .text-right .links {
	display: inline-block;
}
#header-inn .top .text-right .my-cart a {
	background: #e6c99d;
	display: inline-block;
	padding: 5px 20px;
	margin: 0 0 0 10px;
	color: #850b17;
}
#header-inn .top .text-right .my-cart a:hover {
	background: #850b17;
	color: #e6c99d;
}
#header-inn .top .text-right a {
	color: #FFF;
	text-decoration: none;
}
#header-inn .top .text-right a:hover {
	color: #FFF;
	text-decoration: underline;
}
/*Navigation*/
.navigation {
	position: relative; z-index:5000;
}
#nav {
	background-color: #850b17;
	position: relative;
	font: 16px 'proxima_nova_rgregular', Arial, Helvetica, sans-serif;
	margin: 0 25px;
}
#nav > a {
	display: none;
	text-decoration: none;
}
#nav li {
	position: relative;
	display: inline-block;
	text-align: left;
	border-left: 1px solid #ae1b22;
	background-color: #850b17;
	box-sizing:border-box;
}
#nav li:first-child {
	border: none;
}
#nav li li, #nav li li li {
	width: 100%;
	border-left: none;
}
#nav li a {
	color: #e6c99d;
	padding: 15px 24px;
	text-decoration: none;
	display:inline-block;
}
#nav span:after {
	width: 0;
	height: 0;
	border: 0.313em solid transparent;
	border-bottom: none;
	border-top-color: #63000a;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em;
}
#nav li ul li span:before {
	width: 0;
	height: 0;
	border: 0.313em solid transparent;
	border-right: none;
	border-left-color: #63000a;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em;
	left: -10px;
}
#nav li ul li span:after {
	border: none;
}
#nav .active{background-color: #e6c99d;
	color: #850b17;}
#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {
	background-color: #e6c99d;
	color: #850b17;
}
/* first level */
#nav > ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#nav > ul > li {
	float: left;
}
#nav > ul > li > a {
	text-align: center;
}
#nav > ul > li:not( :last-child ) > a {
}
/* second level */
#nav li ul {
	background-color: #cc470d;
	font-size:14px;
	display: none;
	position: absolute;
	top: 100%;
	width:240px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	border-top: 1px solid #ae1b22;
}
#nav li:hover ul {
	display: block;
	left: 0;
	right: 0;
}
#nav li:not( :first-child ):hover ul {
	left: -1px;
}
#nav li ul a {
	padding: 10px 10px 10px 20px; display:block;
}
#nav li ul li {
	border-top: 1px solid #ae1b22; width:240px;
}
#nav li ul li:first-child {
	border: none;
}
#nav li ul li a:hover, #nav li ul:not( :hover ) li.active a {
	background-color: #e6c99d;
	color: #850b17;
}
/*Showcase*/
.showcase-film .jms-content{margin:50px 0 0 0;}
.showcase-film .step img{top:0px;}
.showcase-film .jms-wrapper{min-height:350px;}

.showcase{position:relative;}
.jms-slideshow {
	position: relative;
	width: 100%;
}
.jms-wrapper {
	width: auto;
	min-height: 350px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	outline: none;
	-webkit-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-o-transition: background-color 1s linear;
	-ms-transition: background-color 1s linear;
	transition: background-color 1s linear;
}
.step {
	width: 900px;
	height: 420px;
	display: block;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.step:not(.active) {
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}
.jms-content {
	margin: 100px 0px 0px 0px;
	position: relative;
	clear: both;
	z-index:50;
	text-align:center;
}
.jms-content1 {
	margin: 100px 0px 0px 0px;
	z-index:50;
	text-align:center;
}
.jms-content .learn-more{font-size:30px;}
.step h3 {
	color: #fff;
	font-size: 45px;
	margin: 0;
	padding: 60px 0 10px 0;
}
.step p {
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	font-size: 60px;
	line-height:70px;
	font-weight: normal;
	position: relative;
	margin: 0;
}
a.jms-link {
	color: #fff;
	text-transform: uppercase;
	background: #969696; /* Old browsers */
	background: -moz-linear-gradient(top, #969696 0%, #727272 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #969696), color-stop(100%, #727272)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #969696 0%, #727272 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #969696 0%, #727272 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #969696 0%, #727272 100%); /* IE10+ */
	background: linear-gradient(top, #969696 0%, #727272 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#727272', GradientType=0 ); /* IE6-9 */
	padding: 8px 15px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid #444;
	border-radius: 4px;
	opacity: 1;
	margin-top: 40px;
	clear: both;
	-webkit-transition: all 0.4s ease-in-out 1s;
	-moz-transition: all 0.4s ease-in-out 1s;
	-ms-transition: all 0.4s ease-in-out 1s;
	-o-transition: all 0.4s ease-in-out 1s;
	transition: all 0.4s ease-in-out 1s;
}
.step:not(.active) a.jms-link {
	opacity: 0;
	margin-top: 80px;
}
.step img {
	position: absolute;
	left: 0px;
	top: 70px;
	z-index:30;
}
.jms-dots {
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-dots span {
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border:2px solid #FFF;
	margin: 3px;
	cursor: pointer;
}
.jms-dots span.jms-dots-current:after {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	background: #ffffff;
}
.jms-arrows {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.jms-arrows span {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	height: 80px;
	width: 30px;
	cursor: pointer;
	z-index: 2000;
}
.jms-arrows span.jms-arrows-prev {
	background: url(../images/arrow_left.png) no-repeat 50% 50%;
	left: -10px;
}
.jms-arrows span.jms-arrows-next {
	background: url(../images/arrow_right.png) no-repeat 50% 50%;
	right: -10px;
}
/* Not supported style */
.jms-wrapper.not-supported {
	background-color: #E3D8FF;
	background-color: rgba(227, 216, 268, 1);
}
.jms-wrapper.not-supported:after {
	content: 'The slideshow functionality is not supported on your device.';
	padding: 0px 0px 30px 0px;
	text-align: center;
	display: block;
}
.jms-wrapper.not-supported .step {
	display: none;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
	margin: 20px auto;
}
.jms-wrapper.not-supported .step:first-of-type {
	display: block;
}
.jms-wrapper.not-supported .step:not(.active) a.jms-link {
	opacity: 1;
	margin-top: 40px;
}

.slide .learn-more {
    font-size: 30px;
}
.slide p {
	color: #fff; text-align:center;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	font-size: 60px;
	line-height:70px;
	font-weight: normal;
	margin: 50px 0 0 0;
}

/*Inner Showcase*/
.showcase-inn{
min-height:150px;
}
.showcase-inn h1{
color:#FFF;
text-align:center;
font-size:60px;
line-height:70px;
font-family:'proxima_novasemibold';
vertical-align:bottom; margin-top:80px;
margin:80px 70px 0 70px;
}

/*FEATURE START
******************************************/
#feature {
	background: #850b17 url(../images/bg-title.gif) repeat-x left top;
	color: #FFF;
	font-size: 16px;
	line-height: 24px;
}
#feature .film, #feature .music, #feature .digital-textbooks {
	min-height: 440px;
}
#feature .film h2, #feature .music h2 {
	color: #e6c99d;
	font-size: 60px;
	height: 130px;
	line-height: 129px;
}
/*Film*/

/*Music*/
#feature .music {
	background: rgba(104, 2, 12, 0.5) url(../images/img-model.jpg) no-repeat center 130px;
	background-size: 100%;
}
#feature .music h2 {
	padding: 0 0 0 20px;
}
#feature .music h3 {
	color: #fff;
	font-family: 'proxima_nova_rgregular', Arial, Helvetica, sans-serif;
}
/*Digital Textbooks*/
#feature .digital-textbooks h2 {
	color: #e6c99d;
	font-size: 45px;
	height: 130px;
	line-height: 45px;
	padding: 20px 0 0 0;
}
/*WHY FIRSTFOLIO START
******************************************/
#why-firstfolio {
	background: #c9cacb url(../images/bg-why-ff.png) no-repeat center top;
	background-size: 100%;
	padding: 25px 0 0 0;
}
#why-firstfolio .six {
	margin: 0px;
	width: 50%;
}
#why-firstfolio .nine {
	font-size: 15px;
	line-height: 22px;
	color: #000;
}
/*White*/
#why-firstfolio .white {
	background: #FFF;
	padding: 10px 10px 0 10px;
	margin: 25px 0 0 0;
}
#why-firstfolio .white-inn {
	border: 1px solid #c2c2c3;
	border-bottom: none;
	padding: 10px 25px;
	min-height: 305px;
	font-size: 15px;
	line-height: 22px;
}
#why-firstfolio .white-inn a {
	color: #808080;
}
#why-firstfolio .white-inn a:hover {
	color: #850b17;
}
/*Grey*/
#why-firstfolio .grey {
	background: #e6e7e9;
	padding: 10px 10px 0 10px;
	margin: 25px 0 0 0;
}
#why-firstfolio .grey-inn {
	border: 1px solid #c2c2c3;
	border-bottom: none;
	padding: 17px 25px;
	min-height: 306px;
	font-size: 18px;
	line-height: 22px;
	color: #000;
}

/*CONTAINER
******************************************/
#container{}
#container .columns{margin:0px;}
#container .four{width:30%;}
#container .eight{width:70%;}

/*Toggle*/
.nav-toggle{font-weight:bold;}

/*Sidebar*/
#sidebar{padding:25px; background:#f2f2f2;}
#sidebar1{padding:25px;}
#sidebar h3{margin:0 0 15px 0;}
#sidebar ul{margin:0px; padding:0px; font-size:20px;}
#sidebar ul li{list-style:circle; list-style-position:outside; font-size:30px; margin:0 0 0 25px;}
#sidebar ul li a{color:#666666; text-decoration:none; font-size:20px;}
#sidebar ul li a:hover, #sidebar ul li a.active{color:#9f1b20;}

/*Content*/
#item-page{padding:25px; border-left:1px solid #e6e7e9;}
#item-page-nonav{padding:25px;}
.text-red{color:#9f1b20;}
#item-page a,#item-page-nonav a{text-decoration:none;}
.list-style li{margin:0 0 10px 20px; list-style:circle; padding:8px; list-style-position:outside;}
.list-style li span{display:inline-block; width:210px;}

/*******************************************
PLAYS
******************************************/

/*HAMLET
******************************************/
#sub-hamlet #sidebar h3 {color: #9f1b20;}
#sub-hamlet .list-style li span{display:inline-block; width:210px; }

/*HEADER*/
#sub-hamlet #header-inn {background: #03379c; background-size: 100%; position:relative; max-height:370px; overflow:hidden;}
#sub-hamlet #header-inn .top {background: rgba(3, 55, 156, 0.9); font-size: 16px; line-height: none; color: #FFF;}

/*Navigation*/
#sub-hamlet #nav {background-color: #02347a; position: relative; font: 16px 'proxima_nova_rgregular', Arial, Helvetica, sans-serif; margin: 0 30px;}
#sub-hamlet #nav li {border-left: 1px solid #0740ad; background-color: #02347a;}
#sub-hamlet #nav li a {color: #FFF; padding:15px 29px;}
#sub-hamlet #nav span:after {border-top-color: #fbae15;}
#sub-hamlet #nav li ul li span:before {border-left-color: #fbae15;}
#sub-hamlet #nav > ul > li:hover > a, #sub-hamlet #nav > ul:not( :hover ) > li.active > a {background:none; color: #fbae15; border:none;}
#sub-hamlet #nav li ul li a:hover, #sub-hamlet #nav li ul:not( :hover ) li.active a {background:none; color: #fbae15; border:none;}
#sub-hamlet #nav li ul li {border-top: 1px solid #0740ad;}
#sub-hamlet #nav li ul{border-top: 1px solid #0740ad;}
#sub-hamlet #nav .active{background: none; color: #fbae15;}

/*Feature*/
/*#sub-hamlet #feature .film, #feature .music, #feature .digital-textbooks{min-height: 410px;}*/
#sub-hamlet #feature {background: #ffffff url(../hamlet/images/bg-title.gif) repeat-x left top; border-bottom:1px solid #c2c2c3;}
/*#sub-hamlet #feature .music{background:rgba(194, 194, 195, 0.5);}*/
#sub-hamlet #feature .music{background:none;}
#sub-hamlet #feature .film h2{color: #ff7e00; font-size: 25px; line-height:35px; height: 110px; padding:40px 0 0 0;}
#sub-hamlet #feature .music h2{color: #ff7e00; font-size: 25px; line-height:35px; height: 110px; padding:30px 0 0 20px;}
#sub-hamlet #feature .digital-textbooks h2{color: #ff7e00; font-size: 25px; line-height:35px; height: 110px; padding:40px 0 0 0;}
.checklist ul{margin:0 0 0 0;}
.checklist li{margin:0 0 0 0; list-style-type:none; color:#666; padding:10px 10px 10px 40px; background-image:url(../hamlet/images/checkbox.png); background-repeat:no-repeat; background-position:10px 13px; font-size:18px;}
.checklist-no li{margin:0 0 0 0; list-style-type:none; color:#666; padding:10px 10px 10px 40px; background-image:url(../hamlet/images/cross.png); background-repeat:no-repeat; background-position:10px 13px; font-size:18px;}

/* Available */
#sub-hamlet #available{background:#02347a; text-align:center; padding:35px;}
#sub-hamlet #item-page-nonav{padding:25px;}
#sub-hamlet #hamlet-home{padding:40px; text-align:center;}
#sub-hamlet h3{color:#fff;  font-size:40px; line-height:40px;}
#sub-hamlet .clickhere{border: 1px solid #c4e4ee; background: #e7f8fd; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; text-align:center; padding:10px 0 10px 0; display:inline-block; width:70%; color:#2571bf; font-size:22px; margin:10px 0 10px 0; text-decoration:none;}
#sub-hamlet .clickhere:hover{color:#ff7e00;}

/*Bottom*/
#sub-hamlet #content-bottom{background:#02347a;}
#sub-hamlet #content-bottom a{color:#ff7e00;}
#sub-hamlet #content-bottom .music{background:#002251;}
#sub-hamlet #content-bottom .film a{background:url(../hamlet/images/arrow.png) no-repeat right 8px; padding:0 40px;}
#sub-hamlet #content-bottom .music a{background:url(../hamlet/images/arrow.png) no-repeat right 8px; padding:0 40px;}
#sub-hamlet #content-bottom .digi a{background:url(../hamlet/images/arrow.png) no-repeat right 8px; padding:0 40px;}

/*Footer*/
#sub-hamlet #footer{background: #03379c;}

/*Copyright*/
#sub-hamlet #copyright{background: #03379c; border-top:1px solid #0740ad;}

/* Answer Popup */
.popup-ans{width:750px; height:100px; overflow:auto;}

/*OTHELLO
******************************************/
/*#sub-othello{min-width:100%; min-height:100%; width:100%; height:100%; background:#b55116 url(../othello/images/main.jpg) no-repeat center top; background-size:100%;}
#sub-romeo-and-juliet{min-width:100%; min-height:100%; width:100%; height:100%; background:#b55116 url(../romeo-and-juliet/images/main.jpg) no-repeat center top; background-size:100%;}
#sub-othello #header-inn, #sub-romeo-and-juliet #header-inn{overflow:visible; text-align:center; margin:50px 0 0 0;}
#sub-othello #header-inn h1, #sub-othello #header-inn h2, #sub-romeo-and-juliet #header-inn h1, #sub-romeo-and-juliet #header-inn h2{color:#FFF;}
#sub-othello #header-inn h1, #sub-romeo-and-juliet #header-inn h1{font-size:80px; line-height:80px; margin:100px 0 0 0;}*/

#sub-othello{background:#b55116;}
#sub-romeo-and-juliet{ background:#b55116 url(../romeo-and-juliet/images/main.jpg) no-repeat center top; background-size:100%;}
#sub-othello #header-inn, #sub-romeo-and-juliet #header-inn{overflow:hidden;min-height:500px;}
#sub-othello #header-inn h1, #sub-othello #header-inn h2, #sub-romeo-and-juliet #header-inn h1, #sub-romeo-and-juliet #header-inn h2{color:#FFF;}
#sub-othello #header-inn h1, #sub-romeo-and-juliet #header-inn h1{font-size:80px; line-height:80px; margin:100px 0 0 0;}
#sub-othello .showcase-inn, #sub-romeo-and-juliet .showcase-inn{text-align:center;}


/*ROMEO AND JULIET
******************************************/


/*QUOTE
******************************************/
#quote {
	background: #FFF;
	padding: 25px 0;
	font-size: 20px;
	color: #666666;
	text-align: center;
}
/* Content Bottom
*****************************************/
#content-bottom{background: #e6c99d; font-size: 60px; min-height:130px; line-height:60px; color:#850b17;}
#content-bottom a{text-decoration:none;}
#content-bottom .film{padding:40px 0px 0 0; height:130px;}
#content-bottom .film a{background:url(../images/arrow.png) no-repeat right 8px; padding:0 40px;}
#content-bottom .music{padding:40px 20px 0 20px; height:130px; background:#68020c; }
#content-bottom .music a{color:#e6c99d; background:url(../images/arrow-1.png) no-repeat right 8px; padding:0 40px;}
#content-bottom .digi{padding:20px 0 0 0; height:130px;}
#content-bottom .digi a{font-size:45px; line-height:45px; color:#850b17; display:inline-block; background:url(../images/arrow.png) no-repeat right 45%; padding:0 30px;}

/*FOOTER START
******************************************/
#footer {
	background: #850b17;
	font-size: 14px;
	padding: 25px 0;
	color: #FFF;
}
#footer a {
	color: #FFF;
	text-decoration: none;
}
#footer a:hover {
	color: #FFF;
	text-decoration: underline;
}
/*COPYRIGHt START
******************************************/
#copyright {
	background: #850b17;
	border-top: 1px solid #ff162e;
	font-size: 14px;
	padding: 25px 0;
	color: #FFF;
}

.homepage-responsive { width: 728px; height: 90px; }