<?php
/**
 * @file
 * ExtraWatch - A real-time ajax monitor and live stats
 * @package ExtraWatch
 * @version 1.2.18
 * @revision 336
 * @license http://www.gnu.org/licenses/gpl-3.0.txt     GNU General Public License v3
 * @copyright (C) 2012 by CodeGravity.com - All rights reserved!
 * @website http://www.extrawatch.com
 */

define("_JEXEC",1);
define("ENV",1);
$pathSuffix = realpath(".").DS."app".DS."code".DS."community".DS."CodeGravity".DS."ExtraWatch".DS."extrawatch";
?>

<?php
if (!defined("JPATH_BASE")) {
    define("JPATH_BASE", $pathSuffix);
}
require_once($pathSuffix.DS."modules".DS."mod_extrawatch_users".DS."mod_extrawatch_users.php");
$extraWatchUsersOutput = renderExtraWatchUsers();

if ($extraWatchUsersOutput) { // only display the block if there are some users
    ?>
<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span>Users</span></strong>
    </div>
    <div class="block-content">
        <?php echo $extraWatchUsersOutput;?>
    </div>
</div>
<? } ?>

<div class="block block-list block-compare">
    <div class="block-title">
        <strong><span>Countries</span></strong>
    </div>
    <div class="block-content">
        <?php
        if (!defined("JPATH_BASE")) {
            define("JPATH_BASE", $pathSuffix);
        }
        require_once($pathSuffix.DS."modules".DS."mod_extrawatch_visitors".DS."mod_extrawatch_visitors.php");
        echo renderExtraWatchVisitors();
        ?>
    </div>
</div>

