<div style='background: url("components/com_extrawatch/img/backend.png"); height: 800px;'>
    <table width="300px" border="0" align="center">
        <tr><td colspan="2">
            <h2>ExtraWatch administration</h2>
        </td></tr>
        <tr>
            <td width="100px">
                <img src="extrawatch/components/com_extrawatch/img/icons/extrawatch-logo-48x48.png"/>
            </td>
            <td width="200px">
                <form action="" method="POST">
                    <table width="200px" border="0">
                        <tr><td>Name: </td><td><input type="text" name="username"/></td></tr>
                        <tr><td></td></tr>
                        <tr><td>Password: </td><td><input type="password" name="password"/></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td><td><input type="submit" name="Login" value="Login"/></td></tr>
                        <input type="hidden" name="action" value="login"/>
                    </table>
                </form>
            </td>
        </tr>
    </table>

</div>