/* Title:		FirstFolio main css file
Author:		intotalityinc.com // Intotality Inc  */
/*
------------------------------------------------------------------------------
First Folio CUSTOM
-------------------------------------------------------------------------------
*/

body{background:#FFF;}
img{max-width:100%;}

/*Default Setting*/
img, object, iframe, video{max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic;}
a img, img { border:none; vertical-align:top; }
p{margin:0px;}
p:before, p:after{display: table;  content: "";}
p:after {clear: both;}

/*Fonts*/
@font-face {
    font-family: 'NobileRegular';
    src: url('../fonts/nobile.eot');
    src: url('../fonts/nobile.eot') format('embedded-opentype'),
         url('../fonts/nobile.woff') format('woff'),
         url('../fonts/nobile.ttf') format('truetype'),
         url('../fonts/nobile.svg#NobileRegular') format('svg');
}
@font-face {
    font-family: 'HelveticaLTStdLightOblique';
    src: url('../fonts/helveticaltstd-lightobl.eot');
    src: url('../fonts/helveticaltstd-lightobl.eot') format('embedded-opentype'),
         url('../fonts/helveticaltstd-lightobl.woff') format('woff'),
         url('../fonts/helveticaltstd-lightobl.ttf') format('truetype'),
         url('../fonts/helveticaltstd-lightobl.svg#HelveticaLTStdLightOblique') format('svg');
}
@font-face {
    font-family: 'HelveticaLTStdBoldCondensed';
    src: url('../fonts/helveticaltstd-boldcond.eot');
    src: url('../fonts/helveticaltstd-boldcond.eot') format('embedded-opentype'),
         url('../fonts/helveticaltstd-boldcond.woff') format('woff'),
         url('../fonts/helveticaltstd-boldcond.ttf') format('truetype'),
         url('../fonts/helveticaltstd-boldcond.svg#HelveticaLTStdBoldCondensed') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLTStd45Light';
    src: url('../fonts/helveticaneueltstd-lt.eot');
    src: url('../fonts/helveticaneueltstd-lt.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-lt.woff') format('woff'),
         url('../fonts/helveticaneueltstd-lt.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-lt.svg#HelveticaNeueLTStd45Light') format('svg');
}
@font-face {
    font-family: 'nobile-bold-italic002bold';
    src: url('../fonts/font9-webfont.eot');
    src: url('../fonts/font9-webfont.eot') format('embedded-opentype'),
         url('../fonts/font9-webfont.woff') format('woff'),
         url('../fonts/font9-webfont.ttf') format('truetype'),
         url('../fonts/font9-webfont.svg#HelveticaNeueLTStd45Light') format('svg');
}




/*
------------------------------------------------------------------------------
STANDARD INLINE STRUCTURAL ADJUSTMENT
-------------------------------------------------------------------------------
*/

/*Heading*/
h3 { font-size:20px; line-height:50px;}
h4 { font-size:22px; line-height:40px; font-weight:bold;}
h5 { font-size:16px; line-height:26px; font-weight:bold;}
h6 { font-size:12px; line-height:20px; font-weight:bold;}


/*Text Align*/
.align-left{text-align:left; margin:0 15px 0 0;}
.align-center{text-align:center; margin:0 15px;}
.align-right{text-align:right; margin:0 0 0 15px;}

/*Margin Helpar*/
.margin { margin:15px; }
.margin-left { margin:0 0 0 15px; }
.margin-top { margin:15px 0 0 0; }
.margin-right { margin:0 15px 0 0; }
.margin-bottom { margin:0 0 15px 0; }
.margin-left-top { margin:15px 0 0 15px; }
.margin-left-right { margin:0 15px; }
.margin-left-bottom { margin:0 0 15px 15px; }
.margin-top-right { margin:15px 15px 0 0; }
.margin-top-bottom { margin:15px 0; }
.margin-right-bottom { margin:0 15px 15px 0; }

/*Padding Helpar*/
.padding { margin:15px; }
.padding-left { margin:0 0 0 15px; }
.padding-top { margin:15px 0 0 0; }
.padding-right { margin:0 15px 0 0; }
.padding-bottom { margin:0 0 15px 0; }
.padding-left-top { margin:15px 0 0 15px; }
.padding-left-right { margin:0 15px; }
.padding-left-bottom { margin:0 0 15px 15px; }
.padding-top-right { margin:15px 15px 0 0; }
.padding-top-bottom { margin:15px 0; }
.padding-right-bottom { margin:0 15px 15px 0; }

/*Spacing Helper*/
.space5 { height:5px; }
.space10 { height: 10px; }
.space15 { height: 15px; }
.space20 { height: 20px; }
.space25 { height: 25px; }
.space30 { height: 30px; }
.space35 { height: 35px; }
.space40 { height: 40px; }
.space45 { height: 45px; }
.space50 { height: 50px; }


/*Image*/
.image-left { float:left; margin:7px 15px 7px 0; }
.image-right { float:right; margin:7px 0 7px 15px;cursor:pointer; }

/*Float*/
.float-right{float:right; margin:0 0 0 15px;}
.float-left{float:left; margin:0 15 0 0;}

/*Border Radius*/
.border-radius { border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; }
.border-radius1 { border-radius:1px; -moz-border-radius:1px; -webkit-border-radius:1px; -o-border-radius:1px; }
.border-radius2 { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; }
.border-radius3 { border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; }
.border-radius4 { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; }
.border-radius5 { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; }
.border-radius6 { border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; }
.border-radius7 { border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px; }
.border-radius8 { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; -o-border-radius:8px; }
.border-radius9 { border-radius:9px; -moz-border-radius:9px; -webkit-border-radius:9px; -o-border-radius:9px; }
.border-radius10 { border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; }

/*Shadow*/
.shadow1 { box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2); }
.shadow2 { box-shadow:3px 3px 0 rgba(0, 0, 0, 0.2); }
.shadow3 { box-shadow:0 0 8px rgba(0, 0, 0, 0.4); }
.shadow4 { box-shadow:0 5px 5px -3px rgba(0, 0, 0, 0.2);}
.shadow5 { box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3); }
.shadow6 { box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3); }
.shadow7 { box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 3px 3px 3px rgba(0, 0, 0, 0.2); }


/* Divider */
.divider{background:#ebeced; height:1px;}

body .rt-center {text-align: center;}
body .rt-noborder {border: 0 !important;}
body .rt-floatleft {float: left;margin-right: 15px;margin-left: 0;}


body .rt-floatright {float: right;margin-left: 15px;margin-right: 0;}
body .normalfont, body .normalfont li {font-size: 100% !important;line-height: inherit !important;}
body .noitalic {font-style: normal !important;}
body .nobold, body .nobold a, body .nobold li {font-weight: normal !important;}
body .nomarginall, body .rt-block.nomarginall, body ul.nomarginall, body li.nomarginall {margin-left: 0 !important;margin-right: 0 !important;margin-top: 0 !important;margin-bottom: 0 !important;}
body .nopaddingall, body .rt-block.nopaddingall, body ul.nopaddingall, body li.nopaddingall {padding-left: 0 !important;padding-right: 0 !important;padding-top: 0 !important;padding-bottom: 0 !important;}
body .nomargintop, body .rt-block.nomargintop, body ul.nomargintop, body li.nomargintop {margin-top: 0 !important;}
body .nomarginbottom, body .rt-block.nomarginbottom, body ul.nomarginbottom, body li.nomarginbottom {margin-bottom: 0 !important;}
body .nomarginleft, body .rt-block.nomarginleft, body ul.nomarginleft, body li.nomarginleft {margin-left: 0;}
body .nomarginright, body .rt-block.nomarginright, body ul.nomarginright, body li.nomarginright {margin-right: 0;}
body .nopaddingtop, body .rt-block.nopaddingtop, body ul.nopaddingtop, body li.nopaddingtop {padding-top: 0 !important;}
body .nopaddingbottom, body .rt-block.nopaddingbottom, body ul.nopaddingbottom, body li.nopaddingbottom {padding-bottom: 0 !important;}
body .nopaddingleft, body .rt-block.nopaddingleft, body ul.nopaddingleft, body li.nopaddingleft {padding-left: 0;}
body .nopaddingright, body .rt-block.nopaddingright, body ul.nopaddingright, body li.nopaddingright {padding-right: 0;}
body .smallmarginbottom {margin-bottom: 5px !important;}
body .smallmargintop {margin-top: 5px !important;}
body .medmarginbottom {margin-bottom: 10px !important;}
body .medmargintop {margin-top: 10px !important;}
body .largemarginbottom {margin-bottom: 15px !important;}
body .largemargintop {margin-top: 15px !important;}
body .smallmarginleft {margin-left: 5px !important;}
body .smallmarginright {margin-right: 5px !important;}
body .medmarginleft {margin-left: 10px !important;}
body .medmarginright {margin-right: 10px !important;}
body .largemarginleft {margin-left: 15px !important;}
body .largemarginright {margin-right: 15px !important;}
body .smallpaddingbottom {padding-bottom: 5px !important;}
body .smallpaddingtop {padding-top: 5px !important;}
body .medpaddingbottom {padding-bottom: 10px !important;}
body .medpaddingtop {padding-top: 10px !important;}
body .largepaddingbottom {padding-bottom: 15px !important;}
body .largepaddingtop {padding-top: 15px !important;}
body .smallpaddingleft {padding-left: 5px !important;}
body .smallpaddingright {padding-right: 5px !important;}
body .medpaddingleft {padding-left: 10px !important;}
body .medpaddingright {padding-right: 10px !important;}
body .largepaddingleft {padding-left: 15px !important;}
body .largepaddingright {padding-right: 15px !important;}
body .rt-relative {position: relative;}
body .custom.largepaddingright, body .custom.largepaddingleft, body .custom.largepaddingtop, body .custom.largepaddingbottom, body .custom.medpaddingright, body .custom.medpaddingleft, body .custom.medpaddingtop, body .custom.medpaddingbottom, body .custom.smallpaddingright, body .custom.smallpaddingleft, body .custom.smallpaddingtop, body .custom.smallpaddingbottom, body .custom.largemarginright, body .custom.largemarginleft, body .custom.largemargintop, body .custom.largemarginbottom, body .custom.medmarginright, body .custom.medmarginleft, body .custom.medmargintop, body .custom.medmarginbottom, body .custom.smallmarginright, body .custom.smallmarginleft, body .custom.smallmargintop, body .custom.smallmarginbottom {padding: 0 0 0 0 !important;margin: 0 0 0 0 !important;}
body .custom.rt-floatleft, body .custom.rt-floatright {float: none;margin: 0 0 0 0 !important;}



/*
------------------------------------------------------------------------------
HEADER POSITION
-------------------------------------------------------------------------------
*/
#rt-top-surround{border:none; text-shadow:none; -webkit-text-shadow:none; -moz-text-shadow:none; -o-text-shadow:none; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none; border:none; background-color:transparent; background-image:none;
       &:after{background:none;}
}

/*Top Position*/
#rt-top{background:#02347a; border-bottom:1px solid #3a8fcd;}

/*Header Position*/
#rt-header{background:#1250a5;
      /*Form*/
	  form{margin:0px;}
      .login-form{color:#FFF;
	  a{&:before{content:none;}
	  }}
      
	  /*Login Menu*/
	  .login-menu{
	     
	      li{display:inline-block; font-size:13px; margin:0 0 0 3px;
		    a{background: #ffc20f; /* Old browsers */
background: -moz-linear-gradient(top, #ffc20f 0%, #f79a1d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc20f), color-stop(100%,#f79a1d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffc20f 0%,#f79a1d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffc20f 0%,#f79a1d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffc20f 0%,#f79a1d 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffc20f 0%,#f79a1d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc20f', endColorstr='#f79a1d',GradientType=0 ); /* IE6-9 */ padding:7px 15px; color:#02347a; text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5); -webkit-text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5); -moz-text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5); -o-text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5); border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px;
			  &:before{content:none;}
			  &:hover{background:#ffc20f;}
			}&.active{
			  a{background:#ffc20f;}
			}
		  }
	  }
	  
	  /*Login*/
	  #btl{margin:0;
			.btl-dropdown{background-color:transparent !important; color:@globalText !important; border:none !important; box-shadow:none;}
	  }
}


/*Login Popup*/
#btl-content{
    .btl-content-block{box-shadow:2px 2px 2px rgba(0, 0, 0, 0.09); -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.09); -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.09); -o-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.09);
	    .btl-buttonsubmit{margin:10px; 
		   button{background: #ffc20f !important; /* Old browsers */
background: -moz-linear-gradient(top, #ffc20f 0%, #f79a1d 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc20f), color-stop(100%,#f79a1d)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffc20f 0%,#f79a1d 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffc20f 0%,#f79a1d 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffc20f 0%,#f79a1d 100%) !important; /* IE10+ */
background: linear-gradient(to bottom, #ffc20f 0%,#f79a1d 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc20f', endColorstr='#f79a1d',GradientType=0 ) !important; /* IE6-9 */
background-color:transparent !important; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; color:#02347a !important; text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5); -webkit-text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5); -moz-text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5); -o-text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5); box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none;}
		}
	}
 } 
 

/*
------------------------------------------------------------------------------
DRAWER POSITION
-------------------------------------------------------------------------------
*/
#rt-drawer{background:transparent; border:none; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none;
   #system-message{margin:15px 0 0 0;
      .alert{margin:0 25px; padding:10px;
	      .close{right:0px; top:1px;}
	  }
   }
}


 
/*
------------------------------------------------------------------------------
SHOWCASE POSITION
-------------------------------------------------------------------------------
*/
#rt-showcase{padding:0;
      .rt-showcase-pattern{background:#FFF; text-align:center;
	        .rt-container{width:100%;
			     .rt-block{margin:0px; padding:0px;}
				 .rt-grid-12{float:none;
				            img{border:7px solid #FFF; box-sizing:border-box;  -webkit-box-sizing:border-box;  -moz-box-sizing:border-box;  -o-box-sizing:border-box;}
				 }
			}
	  }
}


/*
------------------------------------------------------------------------------
FEATURE POSITION 
-------------------------------------------------------------------------------
*/
#rt-feature{background:#03377e;
            .logo{color:#fff;		    
					h2{font-family:'HelveticaLTStdBoldCondensed', Helvetica, Arial, FreeSans, sans-serif; font-size:40px; color:#ff7e00;}
					span{font-family:'HelveticaLTStdLightOblique', Helvetica, Arial, FreeSans, sans-serif; font-size:24px; font-style:italic;}
				
			}
			.logo:before, .logo:after, .rt-block:before, .rt-block:after {display: table;  content: "";}
			.logo:after, .rt-block:after {clear: both;}
}

/*
------------------------------------------------------------------------------
UTILITY POSITION 
-------------------------------------------------------------------------------
*/
#rt-utility{
       .rt-container{
	           .quotation{margin:70px 25px; border:1px solid #c4e4ee; background:#e7f8fd; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -o-border-radius:10px;
			             h3, p{margin:0px;}
						 h3{font-family:'HelveticaLTStdBoldCondensed', Helvetica, Arial, FreeSans, sans-serif; color:#666666; font-size:24px; font-weight:bold;}
						 span{font-family:'HelveticaLTStdBoldCondensed', Helvetica, Arial, FreeSans, sans-serif; color:#2571bf; font-size:21px;}
						 
			   }
	   }
}

/*
------------------------------------------------------------------------------
BREADCRUMB POSITION
-------------------------------------------------------------------------------
*/


/*
------------------------------------------------------------------------------
MAINTOP POSITION
-------------------------------------------------------------------------------
*/
#rt-maintop{background:#e7f8fd; box-shadow:none; padding:0px; border:none;
           .rt-block{margin:10px 10px 0 10px; padding:15px 15px 0 15px;}
		   
		   /*Act Menu*/
		   #maximenuck{
		       .maxiroundedcenter{
			        ul.maximenuck{background:none; border:none; text-align:center; text-shadow:none; 
					     li{width:auto !important;}
					}
					ul.menu li{background:#c0dae4; margin:0 7px 0 0; border:none; padding:0px;
								   a{text-shadow:none; color:#000; padding:10px 25px;
									  span{text-shadow:none; font:24px/32px 'HelveticaLTStdBoldCondensed', Helvetica, Arial, FreeSans, sans-serif;}							  
									}
								   a:before, .item:before, .seprator:before{content:none;}
								   &:hover, &.active{background:#013479; border:none; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0;
								      span{color:#fff;}
								   }
								   &.active{
									   .floatck{
										     ul.maximenuck2{
											    li{
											       a{background:none !important;}
											    }
											 }										     
										  }
								   }
								   &.active{background:#013479;}
								   &.parent{padding-right:15px !important;
								       a{background:url(../images/icons/icon-arrow-b.png) no-repeat right 20px;}
									   &:hover{
									        a{background:url(../images/icons/icon-arrow-b.png) no-repeat right 20px;}
									   }
								   }
					         .floatck{background:none; padding:0px; margin:0px; border:none;  top:54px;
							       ul.maximenuck2{
								      li{background:#03377e; border-bottom:1px solid #4095b4;
									     a{background:none; color:#fff;
										   span{ font:20px/32px Helvetica, Arial, FreeSans, sans-serif; color:#fff; display:block;
										        &:hover{color:#ff7e00;}
										   }										   
										 }
									  }
								  }
							 }							 
						} 
			     }
		   }
}



/*
------------------------------------------------------------------------------
COMPONENT AREA
-------------------------------------------------------------------------------
*/
/*Act Page*/
.actpage{
       p{width:60%; position:relative; z-index:50;
	     span.linenum{position:absolute; right:50px; top:0px; color:#b3b3b3;}
	   }
	   .image-right{margin:0px;}
}

#rt-pagetitle{background:#ffecd9; border-top:1px solid #c1c1c1; border-bottom:1px solid #c1c1c1;
    .rt-container{
	    .rt-block{margin:0 10px;
		   h2{color:#ff7e00; font-family:'nobile-bold-italic002bold' Helvetica, Arial, FreeSans, sans-serif; font-size:40px; font-style:italic; font-weight:bold;}
		}
	}
}

/*Sidebar*/

#rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c{
     ul.menu{
	    li{
		   a{color:#6e6e6e; 
		     &:hover{color:#1250a5; background:none;}
			 &:before{content:none;}			 
		   }
		   .seprator:after{content:"";}
		   &.active{
		      a{color:#1250a5; background:none;}
		   }
		}
	 }
}


/*Toltip*/
.tooltipster-default .tooltipster-content{padding:5px 15px !important; font-size:14px !important;}

/*Form Horizontal*/
.form-horizontal{
    .tooltip {position:absolute; background:#FFF; border:1px solid #e5e5e5; border-radius:5px;  -webkit-border-radius:5px;  -moz-border-radius:5px;  -o-border-radius:5px; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.09); -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.09); -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.09); -o-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.09); left:20px !important;
	    .tooltip-inner{padding:5px 10px; max-width:200px;}
	}
}

/*User Section*/
.chzn-container-single .chzn-single {height:28px; line-height:29px;}

/*Pagination*/
.pagination{
    .display-num, .counter{display:inline-block; margin:0 10px;}	
}



#rt-mainbody h2{color:#ff7e00; font-family:'nobile-bold-italic002bold' Helvetica, Arial, FreeSans, sans-serif; font-size:40px; font-style:italic; font-weight:bold; padding:0 0 30px;}
#rt-mainbody h2 a{font-style:normal !important; font-family:Arial, Helvetica, sans-serif;}


/*
------------------------------------------------------------------------------
HIGHLIGHT
-------------------------------------------------------------------------------
*/
#rt-highlights{
    .rt-container{
	    .rt-block {text-align:center;}
	}
}



/*
------------------------------------------------------------------------------
SIDEBAR POSITION
-------------------------------------------------------------------------------
*/


/*
------------------------------------------------------------------------------
BOTTOM A POSITION 
-------------------------------------------------------------------------------
*/


/*
------------------------------------------------------------------------------
EXTENSION POSITION
-------------------------------------------------------------------------------
*/



/*
------------------------------------------------------------------------------
FOOTER POSITION 
-------------------------------------------------------------------------------
*/
#rt-footer-surround{
     #rt-copyright{padding:10px 0 10px 0; font-size:13px;
	      .rt-block{margin:0 10px; padding:0 15px;
		          ul.menu{
				      li{display:inline-block; font-weight: normal;
					     &:first-child{padding-left:0px;}
					     a{font-weight: normal; display:inline-block;  color:#666; padding:0 10px; font-size:13px;
						    &:hover{background:none; color:#02347a;}
						 }						 
						 a:before{content:none;}
						 &:before{content:"|";}
						 &:first-child:before{content:none;}
						 &:first-child{
						    a{padding-left:0px;}
						 }
					  }
				  }
		  }
	 }
}

/*
------------------------------------------------------------------------------
highlight
-------------------------------------------------------------------------------
*/

.highlight {
    background-color: #f7f7f7;
    -moz-border-radius: 3px; /* FF1+ */
    -webkit-border-radius: 3px; /* Saf3-4 */
    border-radius: 3px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09); /* Opera 10.5+, IE 9.0 */
	 padding:1px 4px;
    margin:0 -4px;
	border:1px solid #bfbfbf;
}

#rt-transition{position:relative;}
//pointer-events: auto !important; 
.tooltipster-base{pointer-events: auto !important;opacity:1; }
.tooltipster-base:hover{z-index:500000 !important; border:1px solid #edccac;  background:#fff8f1; }
.tooltipster-base:hover{ 
     .tooltipster-arrow-color{ border-color: rgb(237, 204, 172) !important; border-top:10px solid transparent  !important; border-bottom:10px solid transparent !important; }
	 .tooltipster-arrow-right .tooltipster-arrow-border{margin-top:-6px; }
	 }
img.tooltip{position:relative  !important; opacity:1 !important;}
/*Scroll Top*/
div#topcontrol{background:rgba(0, 0, 0, 0.3) url(../images/icons/arrow-up.png) no-repeat center 50%; padding:20px 30px; -webkit-transition: all 0.2s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s; -ms-transition: all 0.2s ease-in-out 0s;
     &:hover{background:#1250a5 url(../images/icons/arrow-up.png) no-repeat center 50%;}
}
.optional{display:none;}