/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2013 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

// Large Mode
@media only screen and (min-width: 1200px) {
	.visible-large {
		display: inherit !important;
	}
	.hidden-large {
		display: none !important;
	}
	.visible-desktop {
		display: inherit !important;
	}
	.hidden-desktop {
		display: none !important;
	}
}

// Desktop Modes
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.visible-large {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}
	.visible-desktop {
		display: inherit !important;
	}
	.hidden-desktop {
		display: none !important;
	} 
	.promo {
		h1 {
			font-size: 3.7em;
		}
		p {
			font-size: 1.3em;
		}
	}
	.promo-image {
		width: 40%;
	}
	.promo-image img {
		max-width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 959px) {
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-large {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}	

	// Promo Showcase
	.promo-image {
		width: 38%;
	}
	.promo-image img {
		max-width: 100%;
	}
	.promo {
		h1 {
			font-size: 2.9em;
		}
		p {
			font-size: 1.1em;
		}
	}
	.promo-desc {
		padding-top: 0;
	}
}

// Mobile Modes
@media (max-width: 767px) {
	body {
    	padding: 0;
  	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.hidden-large {
		display: inherit !important;
	}
	.visible-large {
		display: none !important;
	}

	// Logo
	#rt-logo {
		margin: 0 auto;
	}
	
	// Logo
	#rt-feature{
	   .logo{
	        .col{width:100%; text-align:center;}
	   }
	}
	
	// Pagetitle	
	#rt-pagetitle {
	   .rt-container {
	       .rt-block h2{font-size:30px;}
		   }
	   }
	
	// Main top
	#rt-maintop{
	     #maximenuck{
		       .maxiroundedcenter{
			        ul.menu li{display:block !important; border-top:1px solid #e7f8fd;
					     .floatck{top:40px;}
					     a{padding:3px 25px;
   					        span{font-size:16px;}	
						  }
					     .floatck{width:100%; margin:0px; padding:0px;
						       .maximenuck2{width:100%; margin:0px; padding:0px;
							         li{margin:0px; border-top:none;}
							   }
						 }
					}
			   }
		 }
	}
	
	// Header Position
	#rt-header{
		  
		  /*Login Menu*/
		  .login-menu{text-align:center;}
		  .rt-container{
		      .rt-grid-6{width:100%; text-align:center;
			      .pull-left{float:none;}
				  .rt-block{padding:0 15px;}
			  }
		  }
		  
		  .login-form{
		     .btn{padding:4px 5px; font-size:10px;}
		  }
		  
	}
	
	// Feature Position
	#rt-feature{
            .logo{
					h2{font-size:24px; line-height:32px; margin:0px;}		
					span{font-size:16px;}			
				
			}
    }
	
	// Showcase Position
	#rt-showcase{
	   .rt-showcase-pattern{
	       .rt-container{
		       .rt-grid-12{
			       img{border:2px solid #FFF;}
			   }
		   }
	   }
	}
	
	// Component Area
		.actpage{
			   p{width:90%; padding:0 10% 0 0; margin:0px;
			     span.linenum{right:0px; top:0px; position:absolute;}
			   }
			   .image-right{display:none;}
		}
	
	// Main Body
	#rt-mainbody{
	   #filter-bar{
	       .filter-search{margin:5px 0 0 0;
		      #filter_idsubscription{width:220px;}   
		   }
		   .btn-group{margin:5px 0 0 0;}
	   }
	   .profile {
	      dl.dl-horizontal{
		     dt{width:100%;}
			 dd{margin-left:0px;}
		  }
	   }
	}
	
	// Copyright
	#rt-copyright{text-align:center; line-height:12px; font-size:9px;
	             .align-right{text-align:center; }
				 ul.menu li a{ font-size:9px !important;}
	}

	// Joomla Core
	body .component-content {
		.column-1, .column-2, .column-3, .column-4 {
			width: 100% !important;
			float: none !important;
			margin: 0 !important;
		}
	}

	// Features
	#gantry-totop {
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}

	// Extras
	.gantry-width-20, .gantry-width-25, .gantry-width-30, .gantry-width-33, .gantry-width-40, .gantry-width-50, .gantry-width-60, .gantry-width-66, .gantry-width-70, .gantry-width-75, .gantry-width-80 {
		width: 100%;
	}
	.gantry-width-spacer {
		margin: 5px;
	}

	.row {
		margin: 0;
		display: block;

		.cell {
			display: block;
			width: 100%;
		}
	}

	.form-horizontal {
		.control-group {
			.control-label {
				float:none;
				width: auto;
				text-align:left;
			}
			.controls {
				margin-left: 0;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	 
	// Header Position
	#rt-header{
		  
		  /*Login Menu*/
		  .login-menu{text-align:center;
		     li a{padding:4px 4px; font-size:10px;}
		  }
		  .rt-container{
		      .rt-grid-6{width:100%; text-align:center;
			      .pull-right{float:none;}
				  .rt-block{padding:0 15px;}
			  }
		  }	
		  
		  .login-form{
		     .btn{padding:4px 5px; font-size:10px;}
		  }	  
	}
	
	// Component Area
		.actpage{
			   p{width:90%; padding:0 10% 0 0; margin:0px;
			     span.linenum{right:0px; top:0px; position:absolute;}
			   }
			   .image-right{display:none;}
		}
	
	// Pagetitle	
	#rt-pagetitle {
	   .rt-container {
	       .rt-block h2{font-size:30px;}
		   }
	   }
	   
	 // Main Body
	 #rt-mainbody {
	    h2{font-size:30px;  padding:0 0 20px;}
		#filter-bar{
	       .filter-search{margin:5px 0 0 0;
		      #filter_idsubscription{width:220px;}   
		   }
		   .btn-group{margin:5px 0 0 0;}
	   }
		.profile {
	      dl.dl-horizontal{
		     dt{width:100%;}
			 dd{margin-left:0px;}
		  }
	   }
	  }
	 
	 /*Table*/
	.component-content table {display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap;}
	.component-content table img{max-width:16px;}
	
	// Copyright
	#rt-copyright{font-size:9px;
	   ul.menu li a{ font-size:9px !important;}
	}

}

@media only screen and (max-width: 768px) {
	 
	// Header Position
	#rt-header{
		  
		  /*Login Menu*/
		  .login-menu{text-align:center;
		     li a{padding:4px 4px; font-size:11px;}
		  }
		  .rt-container{
		      
		  }
		  
		  .login-form{
		     .btn{padding:4px 5px; font-size:11px;}
		  }
		  
	}
	
	// Component Area
		.actpage{
			   p{width:90%; padding:0 10% 0 0; margin:0px;
			     span.linenum{right:0px; top:0px; position:absolute;}
			   }
			 // .image-right{display:none;}
		}
	
	// Pagetitle	
	#rt-pagetitle {
	   .rt-container {
	       .rt-block h2{font-size:30px;}
		   }
	   }
	   
	   // Main Body
	 #rt-mainbody {
	    h2{font-size:30px;  padding:0 0 20px;}
		#filter-bar{
	       .filter-search{margin:5px 0 0 0;
		      #filter_idsubscription{width:220px;}   
		   }
		   .btn-group{margin:5px 0 0 0;}
	   }
		.profile {
	      dl.dl-horizontal{
		     dt{width:100%;}
			 dd{margin-left:0px;}
		  }
	   }
	  }
	  
	 
	 /*Table*/
	.component-content table {display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap;}
	

	// Copyright
	#rt-copyright{font-size:9px;
	   ul.menu li a{ font-size:9px !important;}
	}

}


// Promo Showcase
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.promo-image {
		width: 48%;
		margin-top: 0;
		margin-bottom: 0;
		img {
			max-width: 100%;
		}
	}
	.promo {
		h1 {
			font-size: 2.2em;
		}
		p {
			font-size: 1em;
		}
	}
	.promo-desc {
		padding-top: 0;
	}
	
	
	// Logo
	#rt-feature{
	   .logo{
	        .col{width:100%; text-align:center;}
	   }
	}
	
	#rt-maintop{
	     #maximenuck{
		       .maxiroundedcenter{
			        ul.menu li{display:block !important;
					     .floatck{width:100%; margin:0px; padding:0px;
						       .maximenuck2{width:100%; margin:0px; padding:0px;
							         li{margin:0px;}
							   }
						 }
					}
			   }
		 }
	}
	
	
	
	// Header Position
	#rt-header{
		  
		  /*Login Menu*/
		  .login-menu{text-align:center;
		     li a{padding:4px 4px; font-size:10px;}
		  }
		  .rt-container{
		      .rt-grid-6{width:100%; text-align:center;
			      .pull-right{float:none;}
				  .rt-block{padding:0 15px;}
			  }
		  }
		  
		  .login-form{
		     .btn{padding:4px 5px; font-size:10px;}
		  }
		  
		  /*Menu*/
		  .login-menu li a{padding:4px 4px;}
		  
	}
	
	// Pagetitle	
	#rt-pagetitle {
	   .rt-container {
	       .rt-block h2{font-size:24px;}
		   }
	   }
	   
	   // Main Body
	 #rt-mainbody {
	    h2{font-size:24px; padding:0 0 15px;}
		#filter-bar{
	       .filter-search{margin:5px 0 0 0;
		      #filter_idsubscription{width:220px;}   
		   }
		   .btn-group{margin:5px 0 0 0;}
	   }
		.profile {
	      dl.dl-horizontal{
		     dt{width:100%;}
			 dd{margin-left:0px;}
		    }
	     }
		 .reset-new{font-size:11px;}
	  }
	
	// Feature Position
	#rt-feature{
            .logo{
					h2{font-size:24px; line-height:32px; margin:0px;}		
					span{font-size:16px;}			
				
			}
    }
	
	// Showcase Position
	#rt-showcase{
	   .rt-showcase-pattern{
	       .rt-container{
		       .rt-grid-12{
			       img{border:2px solid #FFF;}
			   }
		   }
	   }
	}
	
	// Component Area
		.actpage{
			   p{width:90%; padding:0 10% 0 0; margin:0px;
			     span.linenum{right:0px; top:0px; position:absolute;}
			   }
			   .image-right{display:none;}
		}
		
	// Copyright
	#rt-copyright{text-align:center; line-height:12px; font-size:9px;
	             .align-right{text-align:center;}
				 ul.menu li a{ font-size:9px !important;}
	}
	
	//Responsive Table
	.component-content table {display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap;}
}


@media only screen and (max-width: 480px) {
	.promo-image {
		margin: 0 auto;
		width: 100%;
		float: none;
		text-align: center;
		img {
			max-width: 50%;
		}
	}
	.promo {
		h1 {
			font-size: 2.2em;
		}
		p {
			font-size: 0.9em;
		}
	}
	.promo-desc {
		padding-top: 0;
	}
	
	// Logo
	#rt-feature{
	   .logo{
	        .col{width:100%; text-align:center;}
	   }
	}
	
	// Header Position
	#rt-header{
		  
		  /*Login Menu*/
		  .login-menu{text-align:center;
		     li a{padding:4px 4px; font-size:10px;}
		  }
		  
		  .login-form{
		     .btn{padding:4px 5px; font-size:10px;}
		  }
		  
		  .rt-container{
		      .rt-grid-6{width:100%; text-align:center;
			      .pull-right{float:none;}
				  .rt-block{padding:0 15px;}
			  }
		  }
	}
	
	// Pagetitle	
	#rt-pagetitle {
	   .rt-container {
	       .rt-block h2{font-size:24px;}
		   }
	   }
	   
	   
	// Showcase Position
	#rt-showcase{
	   .rt-showcase-pattern{
	       .rt-container{
		       .rt-grid-12{
			       img{border:2px solid #FFF;}
			   }
		   }
	   }
	}
	
	// Feature Position
	#rt-feature{
            .logo{
					h2{font-size:24px; line-height:32px; margin:0px;}		
					span{font-size:16px;}			
				
			}
    }
	
	// Component Area
		.actpage{
			   p{width:90%; padding:0 10% 0 0; margin:0px;
			     span.linenum{right:0px; top:0px; position:absolute;}
			   }
			   .image-right{display:none;}
		}
	
	// Main Body
	#rt-mainbody{
	   h2{font-size:24px; padding:0 0 15px;}
	   #filter-bar{
	       .filter-search{margin:5px 0 0 0;
		      #filter_idsubscription{width:220px;}   
		   }
		   .btn-group{margin:5px 0 0 0;}
	   }
	   .profile {
	      dl.dl-horizontal{
		     dt{width:100%;}
			 dd{margin-left:0px;}
		  }
	   }
	   .reset-new{font-size:10px;}
	}
	
	// Highlight
	#rt-highlights{
	   form{margin:0 20px 0 0;
	     img{width:32px; height:32px;}
	   }	   
	}
	
	// Copyright
	#rt-copyright{text-align:center; line-height:12px; font-size:9px !important;
	             .align-right{text-align:center;}
				 ul.menu li a{ font-size:9px !important;}
	}
	
	.component-content table {display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap;}	
	
}