/**
* @version   $Id: typography.less 3109 2012-09-03 17:52:26Z rhuk $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* GRID COLUMN SETUP */
.col {display: block; float:left; margin: 1% 0 1% 1.6%;}
.col1, .col2, .col3, .col4, .col5, .col6 {position:relative;}
.col:first-child { margin-left: 0; } // all browsers except IE6 and lower

// REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS
@media only screen and (max-width: 480px) {
     .col {margin: 1% 0 1% 0%;}
}
// 2 Column
.col2-2 { width: 100%; }
.col1-2 { width: 49.2%; }
// 3 Column
.col3-3 { width: 100%; }
.col2-3 { width: 66.1%; }
.col1-3 { width: 32.2%; }
// 4 Column
.col4-4 { width: 100%; }
.col3-4 { width: 74.6%; }
.col2-4 { width: 49.2%; }
.col1-4 { width: 23.8%; }
// 5 Column
.col5-5 { width: 100%; }
.col4-5 { width: 79.68%; }
.col3-5 { width: 59.36%; }
.col2-5 { width: 39.04%; }
.col1-5 { width: 18.72%; }
// 6 Column
.col6-6 { width: 100%; }
.col5-6 { width: 83.06%; }
.col4-6 { width: 66.13%; }
.col3-6 { width: 49.2%; }
.col2-6 { width: 32.26%; }
.col1-6 { width: 15.33%; }
//  GO FULL WIDTH AT LESS THAN 480 PIXELS
@media only screen and (max-width: 480px) {
    // 2 Column
	.col2-2 { width: 100%; }
	.col1-2 { width: 100%; }
	// 3 Column
	.col3-3 { width: 100%; }
	.col2-3 { width: 100%; }
	.col1-3 { width: 100%; }
	// 4 Column
	.col4-4 { width: 100%; }
	.col3-4 { width: 100%; }
	.col2-4 { width: 100%; }
	.col1-4 { width: 100%; }
	// 5 Column
	.col5-5 { width: 100%; }
	.col4-5 { width: 100%; }
	.col3-5 { width: 100%; }
	.col2-5 { width: 100%; }
	.col1-5 { width: 100%; }
	// 6 Column
	.col6-6 { width: 100%; }
	.col5-6 { width: 100%; }
	.col4-6 { width: 100%; }
	.col3-6 { width: 100%; }
	.col2-6 { width: 100%; }
	.col1-6 { width: 100%; }
}

/* FORM */
form{margin-bottom:0px;}
.form-horizontal {
    .control-label{text-align:left;}
	label{font-size:14px; font-weight:bold;}
}