.icon-48-details {
      background-image: url(../images/l_details.png);
      padding-left:60px!important;
}

.icon-48-detail {
      background-image: url(../images/l_details.png);
      padding-left:60px!important;
}

