/**
 * Stylesheet
 *
 * @package         Better Preview
 * @version         3.0.0m
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2013 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

@import "../../nnframework/less/init.less";

div.betterpreview_message,
div.betterpreview_error {
  position: fixed;
  top: 0;
  right: 0;
  padding: 7px 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #666666;
  z-index: 2000;
  .opacity(70);
  cursor: pointer;
  &:before {
    display: 'block';
    content: 'x';
    float: right;
  }
}
div.betterpreview_error {
  top: 32px;
  background-color: #9d261d;
}
