/**
 * Stylesheet
 *
 * @package         Better Preview
 * @version         3.0.0m
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2013 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@import "../../nnframework/less/init.less";

.betterpreview-dropdown {
  .dropdown-menu > li {
    > .list-item {
      padding: 8px 20px;
      margin: 0;
      display: block;
      clear: both;
      font-weight: normal;
      line-height: @baseLineHeight;
      color: @dropdownLinkColor;
      white-space: nowrap;
    }
    > a.list-item {
      color: @dropdownLinkColor !important;
      &:hover {
        color: @white !important;
        .icon-url,
        .icon-urlinfo {
          color: #ffffff;
        }
        .label {
          background-color: transparent;
        }
      }
    }
    .pull-right {
      margin-left: 5px;
    }
    &.divider {
      clear: both;
      margin: 2px 0 1px;
    }
  }
}
.betterpreview-alert {
  position: fixed;
  top: 10%;
}

.icon-url {
  color: #51a351;
}
.icon-url:before {
  content: "\e024";
}
.icon-urlinfo {
  margin-top: 2px;
  color: #2f96b4;
}
.icon-urlinfo:before {
  content: "\45";
}
#betterpreview_urlinfo {
  .icon-url {
    margin: 2px;
  }
}
@media (max-width: 738px) {
  .betterpreview-dropdown {
    .icon-arrow-down-3 {
      display: none;
    }
  }
}
