<div class="block">
    <h4>ExtraWatch</h4>
    <div class="block_content center">
    {$EXTRAWATCH_AGENT_OUTPUT}
    </div>
    <div class="block_content center">
    {$EXTRAWATCH_USERS_OUTPUT}
    </div>
    <div class="block_content center">
    {$EXTRAWATCH_VISITORS_OUTPUT}
    </div>
</div>