/**
 * Stylesheet
 *
 * @package         Better Preview
 * @version         3.0.0m
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2013 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.betterpreview_message,
div.betterpreview_error {
  position: fixed;
  top: 0;
  right: 0;
  padding: 7px 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #666666;
  z-index: 2000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  cursor: pointer;
}
div.betterpreview_message:before,
div.betterpreview_error:before {
  display: 'block';
  content: 'x';
  float: right;
}
div.betterpreview_error {
  top: 32px;
  background-color: #9d261d;
}
