/**
 * Stylesheet
 *
 * @package         Better Preview
 * @version         3.0.0m
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2013 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */
/* >>> JUI >>> */
/* <<< JUI <<< */.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.betterpreview-dropdown .dropdown-menu > li > .list-item {
  padding: 8px 20px;
  margin: 0;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.betterpreview-dropdown .dropdown-menu > li > a.list-item {
  color: #333333 !important;
}
.betterpreview-dropdown .dropdown-menu > li > a.list-item:hover {
  color: #ffffff !important;
}
.betterpreview-dropdown .dropdown-menu > li > a.list-item:hover .icon-url,
.betterpreview-dropdown .dropdown-menu > li > a.list-item:hover .icon-urlinfo {
  color: #ffffff;
}
.betterpreview-dropdown .dropdown-menu > li > a.list-item:hover .label {
  background-color: transparent;
}
.betterpreview-dropdown .dropdown-menu > li .pull-right {
  margin-left: 5px;
}
.betterpreview-dropdown .dropdown-menu > li.divider {
  clear: both;
  margin: 2px 0 1px;
}
.betterpreview-alert {
  position: fixed;
  top: 10%;
}
.icon-url {
  color: #51a351;
}
.icon-url:before {
  content: "\e024";
}
.icon-urlinfo {
  margin-top: 2px;
  color: #2f96b4;
}
.icon-urlinfo:before {
  content: "\45";
}
#betterpreview_urlinfo .icon-url {
  margin: 2px;
}
@media (max-width: 738px) {
  .betterpreview-dropdown .icon-arrow-down-3 {
    display: none;
  }
}
