/* @override
	http://dev15.local.web/media/com_akeebasubs/css/frontend.css
	http://dev25.local.web/media/com_akeebasubs/css/frontend.css?f4b7b1505825d884cc5d41e6b5dc39ba
	*/

/**
 * @package		akeebasubs
 * @copyright	Copyright (c)2010-2012 Nicholas K. Dionysopoulos / AkeebaBackup.com
 * @license		GNU GPLv3 <http://www.gnu.org/licenses/gpl.html> or later
 */

 @CHARSET "UTF-8";

/**
 * Selective reset of Bootstrap styling
 */
 div.akeeba-bootstrap { background: transparent; }

/**
 * Bottom margin
 */
 #akeebasubs { margin-bottom: 1em; }

/*
 * Front-end tables (My Subscriptions)
 */

 table.asfelist { border-collapse:collapse; }

 table.asfelist thead tr { background-color: silver; table-layout: fixed; border-bottom: thin solid black; }
 table.asfelist thead th { color: black; font-weight: bold; text-align: center; }

 table.asfelist td { text-align: left; vertical-align: middle; padding: 0; }
 table.asfelist .row0 td { background-color: white; }
 table.asfelist .row1 td { background-color: #e0e0e0; }

 table.asfelist tfoot tr { background-color: silver; border-top: thin solid black; text-align: center; }
 table.asfelist tfoot td { text-align: center; }

/*
 * Subscriptions list page
 */

 #akeebasubs div.level {
 	display: block;
 	margin: 0.5em 0.5%;
 	width: 48%;
 	height: 210px;
 	float: left;
 	background-color: #f0f0f0;
 	border: thin solid #333;
 }

 #akeebasubs .level-title:before {
 	content: " ";
 }

 #akeebasubs .level-title {
 	display: block;
 	width: 100%;
 	padding: 0.4em 0;
 	margin: 0 0 0.5em 0;
 	font-size: 14pt;
 	font-weight: bold;
 	color: #333;
 	/*background-color: #e0e0e0;*/
 	text-shadow: 1px 1px 1px white;
 }

 #akeebasubs .level-title a {
 	font-size: 14pt;
 	font-weight: bold;
 	color: #333;
 	text-shadow: 1px 1px 1px white;
 	text-decoration: none;
 }

 #akeebasubs .level-price {
 	display: block;
 	float: right;
 	padding: 0 1em;
 	margin: 0;
 	font-size: 20pt;
 	color: #006699;
 	text-shadow: 1px 1px 1px #333;
 	font-style: italic;
 }

 #akeebasubs .level-price-decimal,
 #akeebasubs .level-price-separator {
 	font-size: 12pt;
 	color: #0099CC;
 }

 #akeebasubs img.level-image {
 	display: none;
 /*By Elvis Morales 02/04/2014 elvismdev@gmail.com*/
	/*max-width: 64px;
	max-height: 64px;
	float: right;
	margin: 0.3em 1.3em 0.3em 0.5em;
	border: thin solid #333;
	-webkit-box-shadow: 1px 1px 4px #333;
	-moz-box-shadow: 1px 1px 4px #333;
	box-shadow: 1px 1px 4px #333;*/
}

#akeebasubs div.level-description {
	min-height: 80px;
	height: 120px;
	padding: 0;
	margin: 0 0.5em;
	background-color: rgba(255,255,255,0.7);
	border: thin solid silver;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

#akeebasubs div.level-description-short {
	min-height: 40px;
	height: auto;
	/*By Elvis Morales 02/04/2014 elvismdev@gmail.com*/
	/*padding-bottom: 10px;*/
}

#akeebasubs div.level-description-inner {
	width: 100%;
	padding: 8px;
}

#akeebasubs div.level-clear {
	clear: both;
}

#akeebasubs .level-subscribe {
	margin: 0.5em 1em 0.8em;
}

/*
 * Subscription list page ("awesome" layout)
 */
 .akeebasubs-awesome .columns-1 div.akeebasubs-awesome-column { width: 100% !important; }
 .akeebasubs-awesome .columns-2 div.akeebasubs-awesome-column { width: 50% !important; }
 .akeebasubs-awesome .columns-3 div.akeebasubs-awesome-column { width: 33.3% !important; }
 .akeebasubs-awesome .columns-4 div.akeebasubs-awesome-column { width: 25% !important; }
 .akeebasubs-awesome .columns-5 div.akeebasubs-awesome-column { width: 20% !important; }
 .akeebasubs-awesome .columns-6 div.akeebasubs-awesome-column { width: 16.6% !important; }
 .akeebasubs-awesome .columns-7 div.akeebasubs-awesome-column { width: 14.2% !important; }
 .akeebasubs-awesome .columns-8 div.akeebasubs-awesome-column { width: 12.5% !important; }
 .akeebasubs-awesome .columns-9 div.akeebasubs-awesome-column { width: 11.1% !important; }
 .akeebasubs-awesome .columns-10 div.akeebasubs-awesome-column { width: 10% !important; }

 div.akeebasubs-awesome-column {
 	display: block;
 	float:  left;
 	margin-bottom: 30px;
 }

 div.akeebasubs-awesome-column:hover {
 	-moz-box-shadow: 0px 0px 10px black;
 	-webkit-box-shadow: 0px 0px 20px black;
 	box-shadow: 0px 0px 10px black;
 }

 .akeebasubs-awesome {
 	margin-bottom: 15px;
 	background: #FAFAFA;
 	color: #333;
 	margin-bottom: 15px;
 	-webkit-border-radius: 6px;
 	-moz-border-radius: 6px;
 	-o-border-radius: 6px;
 	border-radius: 6px;
 }

 .akeebasubs-awesome .columns {
 	border: 1px solid #DDD;
 	margin: -1px;
 	-webkit-border-radius: 6px;
 	-moz-border-radius: 6px;
 	-o-border-radius: 6px;
 	border-radius: 6px;
 }

 .column-first {
 	border-right: 2px solid #DDD;
 	-webkit-border-top-left-radius: 6px;
 	-webkit-border-bottom-left-radius: 6px;
 	-moz-border-radius-topleft: 6px;
 	-moz-border-radius-bottomleft: 6px;
 	border-top-left-radius: 6px 6px;
 	border-bottom-left-radius: 6px 6px;
 }

 .column-first .akeebasubs-awesome-header {
 	-webkit-border-top-left-radius: 6px;
 	-moz-border-radius-topleft: 6px;
 	border-top-left-radius: 6px 6px;
 }

 .column-middle {
 	border-right: 2px solid #DDD;
 }

 .column-last {
 	-webkit-border-top-right-radius: 6px;
 	-webkit-border-bottom-right-radius: 6px;
 	-moz-border-radius-topright: 6px;
 	-moz-border-radius-bottomright: 6px;
 	border-top-right-radius: 6px 6px;
 	border-bottom-right-radius: 6px 6px;
 }

 .column-last .akeebasubs-awesome-header {
 	-webkit-border-top-right-radius: 6px;
 	-moz-border-radius-topright: 6px;
 	border-top-right-radius: 6px 6px;
 }

 .akeebasubs-awesome-header {
 	background-color: #29262C;
 	padding: 0.5em 0;
 	background-image: -webkit-gradient(
 		linear,
 		left top,
 		left bottom,
 		color-stop(0.1, #777),
 		color-stop(0.8, #29262C)
 		) !important;
 	background-image: -moz-linear-gradient(
 		center top,
 		#7D7D7D 10%,
 		#29262C 80%
 		) !important;
 }

 div.akeebasubs-awesome-column:hover div.akeebasubs-awesome-header {
 	background-color: #292699;
 	background-image: -webkit-gradient(
 		linear,
 		left top,
 		left bottom,
 		color-stop(0.1, #779),
 		color-stop(0.8, #292699)
 		) !important;
 	background-image: -moz-linear-gradient(
 		center top,
 		#7D7D7D 10%,
 		#292699 80%
 		) !important;
 }

 .akeebasubs-awesome-level {
 	margin-bottom: 0.5em;
 	border-top: 1px solid #222;
 	border-bottom: 1px solid #606060;
 	background: #333;
 	text-align: center;
 }

 div.akeebasubs-awesome-column:hover .akeebasubs-awesome-level {
 	background: #339;
 }

 a.akeebasubs-awesome-level-link {
 	font-weight: bold;
 	color: #eee !important;
 	text-shadow: black 1px 1px 1px;
 }

 .akeebasubs-awesome-price {
 	color: white;
 	font-size: 280%;
 	font-style: italic;
 	font-weight: bold;
 	text-align: center;
 	padding: 0.2em 0;
 	text-shadow: #333 1px 1px 1px;
 }

 .akeebasubs-awesome-signup {
 	color: #eee;
 	font-style: italic;
 	font-weight: bold;
 	text-align: center;
 	padding: 0.2em 0;
 	text-shadow: #333 1px 1px 1px;
 	height: 1.2em;
 }

 .akeebasubs-awesome-price-currency:after {
 	content: " ";
 }

 .akeebasubs-awesome-price-separator,
 .akeebasubs-awesome-price-decimal {
 	color: #eee;
 	font-size: 50%;
 }

 .akeebasubs-awesome-image img {
 	display: block;
 	max-width: 80%;
 	margin: 0.3em auto;
 	border-radius: 15px;
 }

 .akeebasubs-awesome-description {
 	min-height: 250px;
 	padding: 3px;
 }

 .akeebasubs-awesome-footer {
 	padding-bottom: 15px;
 	text-align: center;
 }

 .akeebasubs-awesome-subscribe {
 	text-align: center;
 }

 input.akeebasubs-awesome-subscribe-button {
 	display: block;
 	width: 80%;
 	margin: 0 auto;
 	padding: 3px 2px 4px;
 	color: white;
 	font-weight: bold;
 	-webkit-text-shadow: black 1px 1px 1px;
 	-moz-text-shadow: black 1px 1px 1px;
 	text-shadow: black 1px 1px 1px;
 	border: thin solid black;
 	background-color: #333;
 	cursor: pointer;
 	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
 }

 input.akeebasubs-awesome-subscribe-button:hover {
 	background-color: #444;
 	-mox-box-shadow: 0px 0px 4px black;
 	-webkit-box-shadow: 0px 0px 4px black;
 	box-shadow: 0px 0px 4px black;
 }

/*
 * Subscriptions "strappy" layout
 */
 td.akeebasubs-strappy-level {
 	text-align: center !important;
 }
 td.akeebasubs-strappy-level a {
 	color: black;
 	font-weight: bolder;
 	font-size: 110%;
 	text-transform: capitalize;
 	text-decoration: none;
 	text-align: center;
 	text-shadow: #aaa 1px 1px 3px;
 }

 td.akeebasubs-strappy-price {
 	font-size: 200%;
 	font-style: italic;
 	font-weight: bold;
 	text-align: center !important;
 	padding: 0.2em 0;
 	text-shadow: #aaa 1px 1px 3px;
 	padding: 0.5em 0.25em !important;
 }
 td.akeebasubs-strappy-signupfee {
 	font-style: italic;
 	font-weight: bold;
 	text-align: center !important;
 	padding: 0.2em 0;
 	text-shadow: #aaa 1px 1px 3px;
 	padding: 0.5em 0.25em !important;
 }

 .akeebasubs-strappy-price-currency:after {
 	content: " ";
 }

 .akeebasubs-strappy-price-separator,
 .akeebasubs-strappy-price-decimal {
 	font-size: 50%;
 }

/*
 * Subscription page
 */

 #akeebasubs-steps {
 	margin: 0.5em;
 	padding: 0.5em;
 	background-color: #f0f0f0;
 	border-radius: 10px;
 	-moz-border-radius: 10px;
 	-webkit-box-shadow: #ccc 0px 0px 8px;
 }

 #akeebasubs-steps-header {
 	font-size: 8pt;
 	font-family: Helvetica, Arial, sans-serif;
 	color: #333;
 	text-shadow: #ccc 1px 1px 0px;
 	text-align: center;
 }

 #akeebasubs-steps-bar {
 	font-size: 14pt;
 	font-weight: bold;
 	color: #333;
 	text-shadow: #ccc 1px 1px 1px;
 	text-align: center;
 }

 #akeebasubs-steps-bar span.step {
 	display: inline-block;
 	padding: 3px 10px;
 }

 #akeebasubs-steps-bar .numbers {
 	display: inline-block;
 	width: 18px;
 	height: 18px;
 	font-size: 12pt;
 	color: #fff;
 	background-color: #333;
 	border-radius: 9px;
 	-moz-border-radius: 9px;
 	text-shadow: #000 1px 1px 1px;
 }

 #akeebasubs-steps-bar span.text {
 	display: inline-block;
 }

 #akeebasubs-steps-bar span.active span.numbers {
 	color: #f0f0f0;
 	background-color: #cc9900;
 }

 #akeebasubs-steps-bar span.active span.text {
 	color: #000;
 	text-shadow: #ffcc00 0px 0px 3px;
 }

 #akeebasubs legend {
 	display: none;
 	font-size: 12pt;
 	color: #333;
 }

 #akeebasubs-subscribe-level {
	/*margin: 2em 0.5em;
	background-color: #f0f0f0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: #ccc 0px 0px 8px;	*/
}

#akeebasubs-subscribe-level h3.level-title {
	margin: 0 !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	color: #ff7e00;
	font-family: 'nobile-bold-italic002bold' Helvetica, Arial, FreeSans, sans-serif;
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
	padding: 0 0 30px;
	border-bottom: 1px solid #d1d1d1;
}

#akeebasubs-subscribe-level .level-description {
	margin: 0 !important;
	border: none !important;
	border-radius: 0 0 10px 10px !important;
	-moz-border-radius: 0 0 10px 10px !important;
}

#akeebasubs h3.subs {
	color: #333;
	margin: 0.4em 0 !important;
	padding: 0.2em !important;
	font-weight: bold;
	font-size: 12pt;
}

#akeebasubs label.main {
	display: inline-block;
	width: 33%;
	padding: 2px;
	margin: 0 0.5em 0.3em 0;
	background-color: #e0e0e0;
}

#akeebasubs input.main {
	width: 30%;
}

#akeebasubs select {
	width: 30% !important;
}

#akeebasubs input.vat {
	width: 10em;
}

#akeebasubs input.disabled {
	border: none;
	background-color: transparent;
	font-weight: bold;
	color: #333;
}

#akeebasubs .currency {
	display: inline-block;
	width: 5em;
	text-align: right;
	padding: 2px 0;
	margin-left: -0.8em;
}

#akeebasubs .currency-symbol {
	width: 2em;
	text-align: left;
	display: inline-block;
	padding: 2px 5px;
	margin-left: -0.3em;
}

#akeebasubs .total {
	font-weight: bold;
	color: #333;
	border-top: 2px solid #333;
}

#akeebasubs label.error {
	background-color: #ffe0e0;
}

#akeebasubs input.error {
	background-color: #ffe0e0;
}

#akeebasubs .valid {
	font-weight: bold;
	font-size: 9pt;
	color: green;
	display: none;
	height: 18px;
	padding: 0 3px 0 0;
	margin: 0 0 0 5px;
	border-left: 1px solid #090;
	background-color: #efe;
}

#akeebasubs .invalid {
	font-weight: normal;
	font-size: 9pt;
	color: red;
	display: none;
	height: 18px;
	padding: 0 3px 0 0;
	margin: 0 0 0 5px;
	border-left: 1px solid #900;
	background-color: #ffe;
}

.akstriangle {
	display: inline-block !important;
	float: left;
	position: relative;
	left: -3px;
	top: 2px;
	width: 0px;
	height: 0px;
	margin: 0 0 0 -11px;
	padding: 0;
	border: 7px solid red;
	border-color: transparent #900 transparent transparent;
}

.akstriangle-red {
	border-color: transparent #900 transparent transparent;
}

.akstriangle-green {
	border-color: transparent #090 transparent transparent;
}

#akeebasubs #username_checking {
	font-weight: bold;
	font-size: 9pt;
	color: gray;
}

#paymentmethod-container label {
	float: left;
}

#akeebasubs span.akeebasubs-paymentmethod-images {
	display: inline-block;
	float: left;
	width: 60%;
}

/*
#akeebasubs span.akeebasubs-paymentmethod-images input {
	clear: both;
	float: left;
	width: 32px;
	margin-top:  10px;
}
*/

#akeebasubs span.akeebasubs-paymentmethod-images label {
	float: left;
}

#akeebasubs span.akeebasubs-paymentmethod-images img {
	float: left;
	margin-bottom: 6px;
}

#akeebasubs span.akeebasubs-paymentmethod-images span {
	margin-left: 5px;
	margin-top: 10px;
	float: left;
}

/**
 * Subscription viewer
 */

 #akeebasubs td.subscription-label {
 	font-weight: bold;
 	min-width: 10em;
 	background-color: #e0e0e0;
 }